<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/header_footer.css" rel="stylesheet">
    <style>

    </style>
</head>
<body>
<div id="wrap">
    <div id="header">
        <div id="header_left">블로그</div>
        <div id="header_right">
            <ul>
                <li>새글쓰기</li>
                <li>내정보</li>
                <li>내블로그</li>
                <li>로그아웃</li>
            </ul>
        </div>
    </div>
    <div id="container">
        container
    </div>
    <div id="footer">
        © 2025 송민석 블로그 All rights reserved.
    </div>
</div>
</body>
</html>