<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/header_footer.css" rel="stylesheet">
    <style>

    </style>
</head>
<body>
<div id="wrap">
    <div id="header">
        <div id="header_left">블로그</div>
        <div id="icon"><img src="/image/cat.png"></div>
        <div id="header_right">
            <ul>
                <li><a href="/">새글쓰기</a></li>
                <li><a href="/">내정보</a></li>
                <li><a href="/">내블로그</a></li>
                <li><a href="/">로그아웃</a></li>
            </ul>
        </div>
    </div>
    <div id="container">
        <div id="main">main</div>
    </div>
    <div id="footer">
        © 2025 송민석 블로그 All rights reserved.
    </div>
</div>
</body>
</html>