<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <style>
        body {
            /*background-color: gray;*/
        }
        #wrap {
            display: flex;
            padding: 0 30px;
        }

        #header {
            display: flex;
        }
        #container {
            display: flex;
        }
        #footer{
            display: flex;
        }
    </style>
</head>
<body>
<!--<div id="wrap">-->
<!--    <div id="header">header</div>-->
<!--    <div id="container">container</div>-->
<!--    <div id="footer">footer</div>-->
<!--</div>-->

<div>
    <ul>
        <li th:each="post : ${posts}">
            <p th:text="|제목: ${post.title}|"></p>
            <p th:text="|내용: ${post.content}|"></p>
            <p th:text="|생성날짜: ${post.created_date}|"></p>
        </li>
    </ul>
</div>

</body>
</html>