<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <style>
        body {
            background-color: gray;
        }

        #wrap {
            display: flex;
            padding: 0 30px;
        }

        #header {
            display: flex;
        }
        #container {
            display: flex;
        }
        #footer{
            display: flex;
        }
    </style>
</head>
<body>
<div id="wrap">
    <div id="header">header</div>
    <div id="container">container</div>
    <div id="footer">footer</div>
</div>
</body>
</html>